[submodule "services/attendance"]
	path = services/attendance
	url = https://github.com/obediqbal/dexa-absensi-wfh.git
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/obediqbal/dexa-auth.git
[submodule "services/staffs"]
	path = services/staffs
	url = https://github.com/obediqbal/dexa-staff-management.git
[submodule "frontend/app"]
	path = frontend/app
	url = https://github.com/obediqbal/dexa-frontend.git
